@charset "utf-8";

/*공통*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	font-family: 'Roboto', sans-serif;
	color: #2a2a2a;
}

h2 {
	color: #2a2a2a;
	font-size: 32px;
	text-align: center;
	margin-bottom: 70px;
}

img {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
}

.area {
	min-height: 100vh;
	padding-top: 12vh;
}


/*상단 (고정되어 있는) 메뉴*/
nav {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 200;
	background: white;
	box-shadow: 0px 0px 20px #bfbfbfc2;
}


nav div {
	max-width: 1490px;
	margin: auto;
	display: flex;
}


header img {
	position: absolute;
	padding-top: 26px;
	margin-left: 30px;
	position: fixed;
	z-index: 300;
}

nav>div a {
	margin-left: 30pt;
	color: #464646;
	margin: 25px 30px;
	font-size: large;
	padding: 10px;
	border-radius: 50px;
	font-size: 1.5rem;
}

button {
	display: none;
}


/*상단 메뉴를 호버하면 색변경되면서 유지된다*/
nav a:hover,
a.act {
	color: white;
	background: url(../images/button10.png) no-repeat center;
	text-align: center;

}


/*첫화면(헤더)*/
#top {
	height: 100vh;
	background: url("../images/bg1.jpg") no-repeat fixed center top / cover;
}

#typing {
	padding: 25vh 1px 0 1px;
	color: white;
	text-align: center;
	font-size: 4rem;
	font-weight: bold;
	height: 60vh;
	text-shadow: 0 1px 10px #7c95cfe0;
	line-height: 140%;
	animation: rise 1s 5s ease infinite alternate;
}

@keyframes rise {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(15px);
	}

}

#scroll {
	width: 100px;
	margin: auto;
	margin-top: 30vh;
	text-align: center;
}

#scroll i {
	font-size: 2.5rem;
	color: white;
	display: block;
	animation: down 1s infinite;
}

@keyframes down {
	from {
		transform: translateY(-10pt);
		opacity: 0;
	}

	to {
		transform: translateY(0pt);
		opacity: 1;
	}
}

#scroll a {
	color: white;
}


/*about*/

h2 span {
	position: relative;
	top: 10px;
	display: inline-block;
	animation: bounce .3s ease infinite alternate;


}

h2 span:nth-child(2) {
	animation-delay: .1s;
	color: #4f7cf9;
}

h2 span:nth-child(3) {
	color: #4f7cf9;
	animation-delay: .2s;
}

h2 span:nth-child(4) {
	color: #4f7cf9;
	animation-delay: .3s;
}

h2 span:nth-child(5) {
	color: #4f7cf9;
	animation-delay: .4s;
}

h2 span:nth-child(6) {
	color: #4f7cf9;
	animation-delay: .5s;
}

h2 span:nth-child(7) {
	color: rgb(189, 55, 55);
	animation-delay: .6s;
}

h2 span:nth-child(8) {
	color: rgb(189, 55, 55);
	animation-delay: .7s;
}

h2 span:nth-child(9) {
	color: rgb(189, 55, 55);
	animation-delay: .8s;
}

h2 span:nth-child(10) {
	color: rgb(189, 55, 55);
	animation-delay: .9s;
}

@keyframes bounce {
	100% {
		top: -5px;
		text-shadow: 0 1px 0 #CCC,
			0 2px 0 #CCC,
			0 3px 0 #CCC,
			0 4px 0 #CCC,
			0 5px 0 #CCC,
			0 6px 0 #CCC,
			0 7px 0 #CCC,
			0 8px 0 #CCC,
			0 9px 0 #CCC,
			0 10px 5px rgba(0, 0, 0, .2);

	}
}

.td3 a {
	padding-left: 20px;
	color: #6e7489;
}

.td3 a:hover {
	color: #4f7cf9;
	font-weight: bold;
}

.skills {
	width: 100%;
	position: absolute;

}

.skills table {
	border-collapse: collapse;
	margin: auto;
}


.skills table tbody tr {
	margin: 30px;
}

.skills table tbody tr td.td1 {
	font-size: 18px;
	color: #6e7489;
}

.td1 {
	padding-bottom: 70px;
}

.skills table tbody tr td>.pin2 {
	width: 70px;
	height: 1px;
	background: #999;
	margin-left: 20px;
	margin-bottom: 70px;
}

.skills table tbody tr td.td3 {
	line-height: 3;
}

.skills table tbody tr td>h2 {
	padding: 0 0 0 20px;
	font-size: 32px;
	text-align: left;
	margin: 0;
}

.skills table tbody tr td>h2:hover {
	color: #4f7cf9;
}

.skills table tbody tr td>p {
	padding-left: 20px;
	color: #6e7489;
	font-size: 16px;
	font-weight: 300;
}

/*포트폴리오*/
.content #cnt03 {
	position: relative;
}

.page-wrap {
	width: 100%;
	height: 100vh;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
}

#home-slider {
	height: 70vh;
	width: 80vw;
	position: relative;
}

.swiper-container {
	height: 100%;
	width: 100%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	overflow: hidden;
}

.swiper-image-one {
	background-image: url(../images/p1.png);
}

.swiper-image-two {
	background: #fff;
}

.swiper-image-three {
	background-image: url(../images/pet.png);
}

.swiper-image-four {
	background: #fff;
}

.swiper-image-five {
	background-image: url(../images/p3.png);
}

.swiper-image-six {
	background: #fff;
}

.swiper-image-seven {
	background-image: url(../images/pp3.png);
}

.swiper-image-eigh {
	background: #fff;
}

.swiper-image-nine {
	background-image: url(../images/react.png);
}

.swiper-image-ten {
	background: #fff;
}

.swiper-image {
	width: 50%;
	height: 100%;
	overflow: hidden;
}

.swiper-image-inner {
	background-size: cover;
	background-position: center center;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-blend-mode: overlay;
}

.swiper-image-inner.swiper-image-left {
	padding: 4rem;
	position: relative;
}

.swiper-image-left a {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.25);
	transition: all .3s;
}

.swiper-image-left:hover {
	transition: all .5s;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.swiper-image-left:hover a {
	opacity: 1;
}

.swiper-image-left a img {
	z-index: 999;
	position: absolute;
	width: 50px;
	height: auto;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
}

.swiper-image-inner.swiper-image-right {
	-webkit-filter: hue-rotate(-60deg);
	filter: hue-rotate(-60deg);
	-webkit-transition: all 1s linear;
	transition: all 1s linear;
	-webkit-transition-delay: .5s;
	transition-delay: .5s;
	background-blend-mode: multiply;
	overflow: hidden;
}

a.paragraph {
	margin: 0;
	width: 100%;
	max-width: 350px;
	text-align: justify;
	opacity: 0;
	-webkit-transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1) .9s;
	transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1) .9s;
	-webkit-transform: translate3d(-20%, 0, 0);
	transform: translate3d(-20%, 0, 0);
	text-decoration: none;
}

a.mockup_title {
	display: block;
	font-family: 'Roboto', sans-serif;
	color: #111;
	font-size: 5.2rem;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}

a.mockup_small_title {
	display: block;
	font-family: 'Roboto', sans-serif;
	color: rgb(68, 68, 68);
	font-size: 1.2rem;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
}

.swiper-slide.swiper-slide-active h1,
.swiper-slide.swiper-slide-active a.paragraph,
.swiper-slide.swiper-slide-active h1 span.emphasis,
.swiper-slide.swiper-slide-active h1+p {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
}

.swiper-container-vertical>.swiper-wrapper {
	-webkit-box-orient: vertical;
	flex-direction: column;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
	-webkit-transform: translate3d(0px, 0, 0);
	transform: translate3d(0px, 0, 0);
}

.swiper-slide {
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #fff;
	overflow: hidden;
	display: -webkit-box;
	display: flex;

}

.swiper-container .swiper-notification {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	opacity: 0;
	z-index: -1000;
}

.swiper-pagination {
	position: absolute;
	text-align: center;
	-webkit-transition: 300ms;
	transition: 300ms;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 10;
}

.swiper-pagination-bullet {
	width: 35px;
	height: 35px;
	display: inline-block;
	opacity: 0.4;
	background-image: url(../images/ch2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background-image: url(../images/ch1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
}

.swiper-container-vertical>.swiper-pagination-bullets {
	right: 15px;
	bottom: 15px;
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 5px 0;
	display: block;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 5px;
}



/*******************/
/*이벤트*/
#event {
	max-width: 900pt;
	margin: auto;
}

#event>div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#event>div>div {
	position: relative;
	width: 280pt;
	margin-bottom: 10pt;
	overflow: hidden;
	cursor: pointer;
}

#event img {
	width: 100%;
	height: 100%;
	transition: 0.5s;
}

::-webkit-scrollbar {
	display: none;
}


/*(돋보기+자세히보기)--호버*/
#event>div>div:hover img {
	transform: scale(1.1);
}

#event>div>div:hover p {
	opacity: 1;
}

/*(돋보기+자세히보기)*/
#event p {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(0, 0, 0, 0.75);
	color: white;
	text-align: center;
	opacity: 0;
	transition: 0.5s;
}

/*돋보기*/
#event i {
	font-size: 2rem;
	display: block;
	margin-top: 40%;
}

/*****************/
/*팝업 -- 큰이미지 보기*/
#popup {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);
	z-index: 2;
	overflow: auto;
	/*이미지(자식)가 클때 스크롤바(부모)가 생긴다*/
	display: none;
}

#popup h3 {
	background: #333;
	color: white;
	padding: 15pt;
	text-align: center;
}

#popup img {
	margin: auto;
}

/************/
/*Contact*/
#contact {
	position: relative;
}

.profile {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 70vw;
	height: 65vh;
	padding: 4.6rem 6rem;
	background: #DAE2F9;
	text-decoration: none;
}

.p1 {
	line-height: 2;


}

.pdf {
	display: inline-block;
	margin-top: 30px;
}

.me {
	position: absolute;
	bottom: 100px;
	left: 100px;
}

/**************************/
/***********휴대폰***********/
@media(max-width:600px) {
	.area {
		min-height: 100vh;
	}

	h2 {
		font-size: 2.5rem;
		margin: 30pt 0;
		width: 100%;
	}

	#top {
		background-size: auto 100vh;

	}

	#typing {
		font-size: 2rem;
	}


	#about h2 {
		font-size: 30px;
	}

	#about h2:last-of-type {
		font-size: 10px;
	}

	nav {
		width: 100%;
		height: 100%;
		background: rgb(0, 0, 0, 75%);
		display: none;
	}

	header button {
		display: block;
		color: rgb(100, 98, 98);
		font-weight: bold;
		font-size: 2rem;
		margin-top: 25px;
		margin-left: 85%;
		position: absolute;
		background: none;
		border: none;
		position: fixed;
		z-index: 999;
	}

	nav div {
		position: relative;
		display: block;
		width: 50%;
		text-align: center;
		line-height: 3;
		top: 20%;

	}

	nav>div a {
		align-items: center;
		margin: auto;
		font-size: 1.3rem;
		font-weight: bold;
		color: #fff;
	}



	header img {
		position: absolute;
		float: left;
		position: fixed;
	}
	#event>div>div {
		width: 230pt;
	}




	.skills {
		width: 90%;
		margin-left: 20px;
	}

	.skills table tbody tr td.td1 {
		font-size: 10px;
	}

	.td1 {
		padding-bottom: 70px;
	}

	.skills table tbody tr td.td3 {
		line-height: 3;
	}

	.skills table tbody tr td>h2 {
		font-size: 30px;
		text-align: left;
		margin-bottom: 50px;
	}

	.skills table tbody tr td>p {
		font-size: 10px;
		line-height: 1;
	}

	a.mockup_title {
		padding-left: 20px;
		font-size: 1.8rem;
		line-height: 1.5;


	}

	a.mockup_small_title {
		padding-left: 20px;
		font-size: 0.4rem;
	}

	.page-wrap {
		height: 10px;
	}

	#home-slider {
		height: 30vh;
		width: 80vw;
	}

	.swiper-image-one {
		background-size: contain;
		background-repeat: no-repeat;
	}

	.swiper-image-three {
		background-size: contain;
		background-repeat: no-repeat;
	}

	.swiper-image-five {
		background-size: contain;
		background-repeat: no-repeat;
	}

	.swiper-image-seven {
		background-size: contain;
		background-repeat: no-repeat;
	}

	.swiper-image-nine {
		background-size: contain;
		background-repeat: no-repeat;
	}

	.swiper-pagination {
		transform: rotate(-90deg);
		width: 73%;
	}

	.swiper-pagination-bullet-active {
		transform: rotate(90deg);
	}



	.profile {
		width: 100vw;
		height: 85vh;
	}

	.me {
		bottom: 0;
	}
}

/***************************/
/* 시작 레이어 애니메이션 */
.open {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: 10000;
}

.open .layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: top;
	animation: open 1s ease-in-out forwards;
}

.open .layer:nth-child(1) {
	background: #000;
	z-index: 2;
}

.open .layer:nth-child(2) {
	background: #4f7cf9;
	animation-delay: 1s;
	z-index: 1;
}

@keyframes open {
	0% {
		transform: scaleY(1);
	}

	100% {
		transform: scaleY(0);
	
	}
}
